---
---

@import "bulma/sass/utilities/initial-variables";

// https://bootswatch.com/flatly/ の配色を参考にした
$blue: #3498db;
$red: #e74c3c;
$green: #18bc9c;
$yellow: #f39c12;
$primary: #2c3e50;
$dark-primary: #1a242f;
$link: $blue;

@import "bulma/bulma";

body {
  position: relative;
}

.header {
  background: $primary;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  .navbar {

    background: inherit;

    a {
      color: $white;
    }
  }

  .container {

    .navbar-menu {
      background: inherit !important;
    }

    a.navbar-item {

      &:hover {
        background: $dark-primary !important;
      }

      img {
        display: block;
        height: 28px;
        overflow: hidden;
        width: 28px;
        border-radius: 14px;
      }
    }
  }

}

#main {
  margin-top: 52px;
  min-height: calc(100vh - 168px - 52px);
}

.hero {

  &.is-default {
    background-image: url(//lh3.googleusercontent.com/swTGBfmuGDjSRHFvYJ0ZjM1fQHoDDnoBFlHucyeooq8zz1tMPAIJfyXCKUVpV5o0KcrF_rPJBLdj_SQR5UYBYLzV6ABMSlMTZUNRo2mVKFhXeF-QVdnABtyNABNcT2O9gnZPnRyKcpo=w2048-h945-no);
    background-position: 50% 65%;
    background-size: cover;
    position: relative;

    .title,
    .subtitle {
      color: #FFF;
      text-shadow: 0px 0px 3px #136;
    }
  }
}

.footer {
  background: #E9F1F1;
  border-top: #95a5a6;

  a:hover {
    text-decoration: underline;
  }
}

code {
  border-radius: 2px;
  border: solid 1px #e2e2e2;
  margin-left: 0.3em;
  margin-right: 0.3em;
}
pre {

  code {
    border-radius: 0;
    border: none;
    margin-left: 0;
    margin-right: 0;
  }
}
