@import "bulma/sass/utilities/initial-variables";

// https://bootswatch.com/flatly/ の配色を参考にした
$blue: #3498db;
$red: #e74c3c;
$green: #18bc9c;
$yellow: #f39c12;
$red: #ef6717;
$orange: #f38017;
$primary: #2c3e50;
$dark-primary: #1a242f;
$default: #798c8e;
$link: $blue;

$pagination-current-background-color: $primary;
$pagination-current-border-color: $primary;

@import "bulma/bulma";

body {
  position: relative;
}

.header {
  background: $primary;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  .navbar {
    background: inherit;

    a {
      color: $white;
    }
  }

  .container {
    .navbar-menu {
      background: inherit !important;
    }

    a.navbar-item {
      &:hover {
        background: $dark-primary !important;
      }

      img {
        display: block;
        height: 28px;
        overflow: hidden;
        width: 28px;
        border-radius: 14px;
      }
    }
  }
}

#main {
  margin-top: 52px;
}

.hero {
  &.is-default,
  &.is-orange {
    a,
    .title,
    .subtitle {
      color: #fff;
    }
  }

  &.is-default {
    background: $default;
  }

  &.is-orange {
    background: $orange;
  }

  &.is-small {
    .hero-body {
      padding: 1rem 1.5rem;
    }
  }
}

a[href^="https://www.amazon.co.jp/"] {
  img {
    display: block;
    padding: 10px;
    background: $white;
  }
}

.footer {
  background: #e9f1f1;
  border-top: #95a5a6;
  margin-top: 100px;

  a:hover {
    text-decoration: underline;
  }
}

code {
  border-radius: 2px;
  border: solid 1px #e2e2e2;
  margin-left: 0.3em;
  margin-right: 0.3em;
}

pre {
  margin-top: 0.5em;
  margin-bottom: 1em;

  code {
    border-radius: 0;
    border: none;
    margin-left: 0;
    margin-right: 0;
  }
}

.pagination {
  .pagination-link {
    color: $primary;

    &.is-current {
      color: $white;
    }
  }

  ul {
    display: flex;
    justify-content: center;
  }
}
