---
layout: base
---
{% include blog-title.html %}
<div class="container">
  {% for post in paginator.posts %}
  <section class="section">
    <div class="card">
      <div class="card-content">
        <p class="title">
          <a href="{{ post.url }}" class="has-text-grey-dark">{{ post.title }}</a>
        </p>
        <p class="subtitle has-text-grey">
          {{ post.date | date: "%Y年%m月%d日" }}
        </p>
        <div class="content">
          {{ post.excerpt }}
        </div>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
          <a href="{{ post.url }}" class="button block is-white">
            <i class="fa fa-chevron-right"></i>
            さらに読む
          </a>
        </p>
      </footer>
    </div>
  </section>
  {% endfor %}
</div>

<div class="container">
  <nav class="pagination is-medium" role="navigation" aria-label="pagination">
    <ul class="pagination-list">
      {% if paginator.previous_page %}
        <li><a class="pagination-link" aria-label="{{ paginator.previous_page }}ページへ" href="{{ paginator.previous_page_path }}">前へ</a></li>
      {% endif %}
      {% for i in (1..paginator.total_pages) %}
        {% assign path = '/blog/page' | append: i %}
        {% if i == 1 %}
          {% assign path = '/blog/' %}
        {% endif %}
        <li><a class="pagination-link{% if i == paginator.page %} is-current{% endif%}" aria-label="{{ i }}ページへ" href="{{ path }}">{{ i }}</a></li>
      {% endfor %}
      {% if paginator.next_page %}
        <li><a class="pagination-link" aria-label="{{ paginator.next_page }}ページへ" href="{{ paginator.next_page_path }}">次へ</a></li>
      {% endif %}
    </ul>
  </nav>
</div>
