---
layout: base
---
<section class="hero is-default is-large">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</p>
      <p class="subtitle">{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}</p>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="content">
      {{ content }}
    </div>
  </div>
</section>
