---
layout: base
---
{% include blog-title.html %}
<div class="hero is-warning is-small">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-4">
        <a href="/blog/" class="has-text-white-bis">
          {{ page.title }}
        </a>
      </h1>
      <p class="subtitle is-6">
        {{ page.date | date: "%Y年%m月%d日" }}
      </p>
    </div>
  </div>
</div>
<div class="container">
  <section class="section">
    <article>
      <div class="content is-clearfix">
        {{ content }}
      </div>
    </article>
  </section>
</div>
<hr>
<div class="container">
  <section class="section">
    {% include tags.html %}
  </section>
</div>
